nav {
    background-color: rgb(100, 100, 255);
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    padding: 8px 12px;
    height: 2ch;
    color: #ffffff;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  ul li {
    padding: 8px 12px;
  }

  ul :hover{
    width: auto;
    background-color:rgb(70, 70, 210);
    border-radius: 3px;
  }
  
    li {
    display: inline-block;
    height: 3ch;
    margin-right: 20px;
    font-family: "NotoSerifWeb", "Noto Serif CJK Kr", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    }
  
  a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
  }
  