<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
</head>
<body>
    <form action="{% url 'test' %}" method="post">
        {% csrf_token %}
        <label for="size">Size:</label><br>
        <input type="text" id="size" name="size"><br>
        <label for="purposes">Purposes:</label><br>
        <input type="text" id="purposes" name="purposes"><br>
        <label for="product">Product:</label><br>
        <input type="text" id="product" name="product"><br>
        <label for="text">Text:</label><br>
        <input type="text" id="texts" name="texts"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>