nav {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  box-shadow: 0px 5px 9px #cccccc;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

li {
  margin-right: 20px;
}

#aib-logo {
  font-family: "Inter";
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  color: #ABABFF;
  text-decoration: none;
  margin-right: auto;
}

#aib-logo:hover {
  text-decoration: underline;
}

.download-btn {
  padding: 8px 16px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.download-btn:hover {
  background-color: #45a049;
}
